---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Hunter A.</h1>

		<img src="https://i.giphy.com/media/3o7WIxxDCbNpd42m1q/giphy.webp" alt="" srcset="">

	</body>
</html>
